.navbar{
    background: #794515d9;
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    color: brown;
    text-decoration: none;
    align-items: center;
    padding: 10px;
}

.carrito{
    display: flex;
    }

.numero-carrito{
    padding-left: 10px;
}

.list{
    display: flex;
    list-style: none;
    justify-content: space-around;
}


.category{
    padding: 0 20px;
}

.brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    color:#ec9a6e;
}
